./.DS_Store
./src/.DS_Store
./src/webapp/.DS_Store
./src/webapp/api/.DS_Store
./src/webapp/api/locales/.DS_Store
./src/webapp/api/locales/en-US/.DS_Store
./src/webapp/api/scripts/.DS_Store
./src/webapp/site/.DS_Store
./src/webapp/site/examples/.DS_Store
